# IntelliJ project files
.idea
.fleet
.vscode

# test artifacts
/playground/**/*.epub
/playground/**/*.svg
/playground/images
/playground/pickle
/playground/*.iso

# src artifacts
/src/linovelib2epub/*.epub
/src/linovelib2epub/pickle
/src/linovelib2epub/images

# dist
/dist/

# py cache
**/__pycache__

# venv
venv

# local do remote package test
local_use
*.log
/playground/refactor_image_download/images/
#**/js-anti-obfuscation*

# Ignore dynaconf secret files
.secrets.*

# local artifacts
*.epub
novel_images
logs
pickle

# demo py
*demo.py