# IntelliJ project files
.idea

# test artifacts
/test/**/*.epub
/test/**/*.svg
/test/images
/test/pickle

# src artifacts
/src/linovelib2epub/*.epub
/src/linovelib2epub/pickle
/src/linovelib2epub/images

# dist
/dist/

# py cache
**/__pycache__
