-r requirements.txt

# dev
# 最终没有采纳这个交互选择库
InquirerPy==0.3.3
# cpu-only version
paddlepaddle==2.6.2
# not use 3.x version
paddleocr==2.10.0

# typings
mypy

# below are dev/build/test dependencies
wheel
build
twine
upload