-r requirements.txt

# dev
InquirerPy==0.3.3
# manual installation
# python -m pip install paddlepaddle-gpu==3.0.0 -i https://www.paddlepaddle.org.cn/packages/stable/cu126/
paddleocr==3.0.0

# typings
mypy

# below are dev/build/test dependencies
wheel
build
twine
upload