/*默认文本样式*/
body{
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 1%;
	margin-right: 1%;
	line-height: 130%;
	text-align: justify;
}
h1{
	font-size: 1.65em;
	line-height: 120%;
	text-align: center;
	font-weight: bold;
	margin-top: 0.1em;
	margin-bottom: 0.4em;
}
h2{
	font-size: 1.25em;
	line-height: 120%;
	text-align: center;
	font-weight: bold;
	margin-top: 0.3em;
	margin-bottom: 0.5em;
}
h3{
	font-size: 0.95em;
	line-height: 120%;
	text-align: center;
	text-indent: 0em;
	font-weight: bold;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
h4{
	font-size: 1.4em;
	text-align: center;
	line-height: 1.2em;
	text-indent: 0em;
    font-family: illus2;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1.5em;
}
div{
	margin: 0px;
	padding: 0px;
	text-align: justify;
}
p{
	text-indent: 2em;
	display: block;
	line-height: 1.3em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}


/*图片相关*/
.illus{
	text-indent: 0em;
	text-align: center;
}
.cover{
	margin: 0em;
	padding: 0em;
	text-indent: 0em;
	text-align: center;
}
.coverborder{
	border-style: none;
	border-color: #716F71;
	border-width: 1px;
}


/*默认格式相关样式*/
.right{
	text-indent: 0em;
	text-align: right;
}
.left{
	text-indent: 0em;
	text-align: left;
}
.center{
	text-indent: 0em;
    text-align: center;
}
.zin{
    text-indent: 0em;
}
.bold{
    font-weight: bold;
}
.stress{
	font-weight: bold;
	font-size: 1.1em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
.author{
	font-size: 1.2em;
	text-align: right;
	font-weight: bold;
	font-style: italic;
	margin-right: 1em;
}
.dash-break{
	word-break: break-all;
	word-wrap: break-word;
}
.no-d{
	text-decoration: none;
}
.message{
	text-indent: 0em;
	line-height: 1.2em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.meg{
	font-size: 1.3em;
	text-indent: 0em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.tilh{
	text-indent: 0em;
	line-height: 1em;
	margin: 0;
}


/*文字大小*/

.em04{
    font-size: 0.4em;
}
.em05{
    font-size: 0.5em;
}
.em06{
    font-size: 0.6em;
}
.em07{
    font-size: 0.7em;
}
.em08{
    font-size: 0.8em;
}
.em09{
    font-size: 0.9em;
}
.em11{
    font-size: 1.1em;
}
.em12{
    font-size: 1.2em;
}
.em125{
    font-size: 1.25em;
}
.em13{
    font-size: 1.3em;
}
.em14{
    font-size: 1.4em;
}
.em15{
    font-size: 1.5em;
}
.em16{
    font-size: 1.6em;
}
.em17{
    font-size: 1.7em;
}
.em18{
    font-size: 1.8em;
}
.em19{
    font-size: 1.9em;
}
.em20{
    font-size: 2em;
}
.em21{
    font-size: 2.1em;
}
.em22{
    font-size: 2.2em;
}
.em23{
    font-size: 2.3em;
}
.em24{
    font-size: 2.4em;
}
.em25{
    font-size: 2.5em;
}
.em26{
    font-size: 2.6em;
}
.em27{
    font-size: 2.7em;
}
.em28{
    font-size: 2.8em;
}
.em29{
    font-size: 2.9em;
}
.em30{
    font-size: 3em;
}


/*默认目录样式*/
.contents{
	text-indent: 0em;
	text-align: center;
    padding: 0.5em 0 0.5em 0;
}
.mulu{
	text-indent: 0em;
	text-align: center;
	line-height: 1.1em;
    padding: 0.3em 0 0.3em 0;
    margin: 0.9em 0;
}
.back{
	background-image: url(../Images/co4.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-size:cover;
}


/*图片允许放大*/

/*
html代码：

<div class="duokan-image-single illus"><img alt="图片名" src="../Images/图片名.jpg" /></div>

图片导览：

  <div class="duokan-image-gallery">
	<div class="illus duokan-image-single"><img alt="图片名" src="../Images/图片名.jpg" /></div>
	<div class="illus duokan-image-gallery-cell"><img alt="图片名" src="../Images/图片名.jpg" /></div>
 </div>
*/
/*格校着重号*/
.dot {
    -webkit-text-emphasis-style: filled dot;
	-epub-text-emphasis-style:  filled circle;
	text-emphasis: circle #000;
	text-emphasis-position:under;
}


/*默认注释样式*/

.footnote{
    height: 1.2em!important;
    width: auto;
    border:0;
}
.duokan-footnote{
    height: 1.2em!important;
    width: auto;
    border: 0;
}
.duokan-footnote-item{
    text-indent: 0em;
    font-family: "DK-SONGTI";
    text-shadow: 0em 0em 0.1em #000000;
    font-size: 0.9em;
    text-align: left;
}
sup {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super!important;
}
/*
html代码：

<a class="duokan-footnote no-d" epub:type="noteref" href="#n1" id="A_1"><sup><img alt="note" class="footnote" src="../Images/note.png" /></sup></a>


    <aside epub:type="footnote" id="n1">
      <ol class="duokan-footnote-content">
        <li class="duokan-footnote-item" id="n1" value="1"></li>
      </ol>
    </aside>

代码说明：
1. 请将「href="n1"」「id="n1"」「value="1"」这三段代码中的数字改为该注释的顺序
例：第3个注释的该段代码为「href="n3"」「id="n3"」「value="3"」
2. 「注：」根据不同情况可以改为其它文字，例如译者名
*/


/*字体*/

@font-face{
    font-family: "title";
    src: url(../Fonts/title.ttf);
}
.title{
    font-family: title;
}
@font-face{
    font-family: "title2";
    src: url(../Fonts/title2.ttf);
}
.title2{
    font-family: title2;
}
@font-face{
    font-family: "cont1";
    src: url(../Fonts/cont1.ttf);
}
.cont1{
    font-family: cont1;
}
@font-face{
    font-family: "illus1";
    src: url(../Fonts/illus1.ttf);
}
.illus1{
    font-family: illus1;
}
@font-face{
    font-family: "illus2";
    src: url(../Fonts/illus2.ttf);
}
.illus2{
    font-family: illus2;
}
@font-face{
    font-family: "illus3";
    src: url(../Fonts/illus3.ttf);
}
.illus3{
    font-family: illus3;
}

/*关于 Summary */

.s-hr1{
	margin: 1.0em -3em -1px -3em;
	border-top: solid 2px #000;
	line-height: 1em;
}
.s-hr2{
	margin: 11px -3em -0.5em -3em;
	border-top: solid 2px #000;
	line-height: 1em;
}
.summary {
	margin: 0;
	padding: 0;
	text-align: center;
	text-indent: 0em;
	font-family: "DK-SYMBOL";
}
.renwu{
	margin-bottom:-0.6em;
	text-align: center;
	font-size: 1.4em;
}


/*以下填写自定义css样式*/

.fr{
	float: right;
}
.fl{
	float: left;
}
.vt{
	vertical-align: top;
}
.vb{
	vertical-align: bottom;
}
.vm{
	vertical-align: middle;
}
.bs{
	border-spacing:0;
}
.bc{
	border-collapse: collapse;
	line-height: 1em;
}
.lh{
	line-height: 1em;
}
.lh1{
	line-height: 1.1em;
}
.lh2{
	line-height: 1.3em;
}
.t-lt{
	text-decoration: line-through;
}

.pius1{
	text-indent: 0em;
	line-height: 1.2em;
	font-weight: bold;
	margin: 2em 0 2em 1.7em;
     font-family: illus2;
	font-size: 1.2em;
}
.biaoti1{
    font-size: 1.3em;
	margin: 1em 0 -0.8em 2em;
    font-weight: bold;
    font-family: cont1;
}
.biaoti2{
    font-size: 1.3em;
    margin: 0 0 0 3em;
	font-family: cont1;
}
.rotate1{
   -webkit-transform: rotate(-4deg);
   transform: rotate(-4deg);
}
.emp {
  text-emphasis: circle #000;
}
.symbol{
	font-family: "DK-SYMBOL";
}
.co0{
	color: #000;
}
.tbox{
	background-color: #000;
	color: #FFF;
	padding: 3px 3px 2px 3px;
}
.tbox2{
	background-color: #000;
	color: #FFF;
	padding: 1px 3px 0px 3px;
}
.tco1{
	color: #E3017F;
}
.tco2{
	color: #00A0E8;
}
.tco3{
	color: #FFF;
	text-shadow: 0px 0px 1px #4654A3;
}
.ico1{
	color: #FFF;
	text-shadow: 1px 2px 2px #CD0064;
}
.ico2{
	color: #E8030B;
	text-shadow: 1px 2px 2px #FFF;
}
.ico3{
	color: #E8030B;
	text-shadow: 1px 2px 2px #fff;
}
.ico4{
	color: #FFF;
	text-shadow: 1px 2px 2px #FFA500;
}
.ico5{
	color: #F5550E;
	text-shadow: 1px 2px 2px #fff;
}
.num {
  width: 1em;
}
.sbox{
	background-color: #000;
	color: #FFF;
	padding: 1px 10px 0px 10px;
    font-family: illus2;
	font-size: 1em;
	margin: 0 auto;
}
