/*
  style for chapter which has many illustrations
 */

/* volume title */
h1 {
}

/* the title of a certain chapter */
h2 {
}

/* normal paragraph */
p {
    text-indent: 2em;
    padding: 0;
    margin: 0;
}

/* illustration */
.divimage:first-of-type {
    margin-top: 12px;
}

.divimage {
    display: flex;
    justify-content: center;
    align-items: center;
    /* view gap between two adjacent images.*/
    margin-bottom: 12px;
}


.divimage > img {
    /* not exceed self 100% width*/
    max-width: 100%;
}


/*
  additional style for normal chapter
 */

/* illustration in paragraph */
p > img {
    display: block;
    /* not exceed self 100% width*/
    max-width: 100%;
    /* view gap between its surrounding elements.*/
    margin: 4px auto;
}