h2 {
    /**/
}

/* toc wrapper*/
ol {
    /**/
}

/* volume */
ol > li {
    /**/
}

/* the title of a volume*/
ol > li > span {
    /**/
}

/* one chapter wrapper of a volume. */
ol > li > ol {
    /**/
}

/* one chapter's link*/
ol > li > ol > li {
    /**/
}

/* A tag corresponding to a chapter*/
ol > li > ol > li > a {
    /**/
}